Actual Truth-Q1.csv
Acutal Truth-Q2.csv
Final Mobile Net Transfer Learning.ipynb
KollapudiNagendraDheeraj_ShubhankerBanerjee_Assignment1_Q1_video.mp4
KollapudiNagendraDheeraj_ShubhankerBanerjee_Assignment1_Q2_video.mp4
KollapudiNagendraDheeraj_ShubhankerBanerjee_Assignment1_report.pdf
Object Detection and Classification Implementation.ipynb
dh_h5_model.h5
train/
validation/
